html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

$titlecolor:#3f6c45;
$formcolor:#e4ea8c;
$border:2px solid gold;
$font:"Playfair Display", serif;
$rgb: rgba(0,0,0,0.6);	



body{
font-family:$font;	

}

header{
	width:100%; 
	background:black; 
	height:60px; 
	display:none;
	position:fixed;
	z-index:1;
	border-bottom:2px solid gold;
	
	.hamburger{
		background:none;
		position:absolute;
		top:0;
		right:0;
		line-height:45px;
		margin:10px 20px 0px 20px;
		color:white;
		border:0;
		font-size:2em;
		font-weight:bold;
		cursor:pointer;
		outline:none;
		z-index:10000000000000;
		display: none;
	}
	.cross{
		background:none;
		position:absolute;
		top:0px;
		right:0;
		margin:10px 20px 0px 20px;
		color:white;
		border:0;
		font-size:4em;
		line-height:65px;
		font-weight:bold;
		cursor:pointer;
		outline:none;
		z-index:10000000000000;
	}
	img{
		display: none;
		width: 120px;
		position: absolute;
		margin-left: 30px;
	}
	img:hover{
		margin-top:4%; 
		-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
	}
}		
nav{
	background:rgba(0,0,0,0.8);
	width: 100%;
	border-bottom: 2px solid gold;
	position:fixed;
	z-index:1;
	a{
		img{
		width: 200px;
		z-index: 1;
		position: absolute;
		margin-left: 2%;
		}
		img:hover{
			margin-top:1%; 
		-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
		}
	}
	ul{
		float: right;
		margin-right:3%; 
		li{
			display: inline-block;
			padding: 20px 0px;
			a{
				text-decoration: none;
				padding: 20px 20px; 
				color: white;
				font-weight: bold;
				font-size: 1.2em;
			}
			a:hover{
			}
		}
		li:hover{
			background:#505160;
		}
	}
}	
#BUYGOLD{
	background-image: url("../img/1.2.png");
	background-size: cover;
	height:100%;
	background-repeat:no-repeat;
	#fbutton{
		width: 100px;
	    margin-left:-30px;
	    margin-top:300px;
	    position: fixed;
	    border-radius: 0px 0px 7px 7px;
	    transform: rotate(270deg);
	}
	iframe{
		border:4px solid blue;
		overflow: hidden;
		position: fixed;
    	margin-top: 150px;
    	display:none;
	}
	.wrapper{
		max-width: 1200px;
		margin:auto;
		padding-bottom:7%;
		h1{
			color: white;
			font-size: 45px;
			text-align: center;
			padding-top:17%;
			font-weight:bold;
		}
		div{
			width: 100%;
			padding-top: 10%;
			margin: 0 auto;
			padding-bottom: 3%;
			.plentele{
				display: inline-block;
				vertical-align: bottom;
				width: 40%;
				background:$rgb;
				border:$border;
				border-radius:20px;
				margin-left: 8%;
				margin-right: 2%;
				text-align: center;
				padding:0;
				h1{
					font-size: 30px;
					color: white;
					background-color:#660033;
					border-top-left-radius: 16px;
					border-top-right-radius: 18px;
					margin-left: 0.8px;
					padding:16px 0px;
					font-weight:bold;
					span{
						font-weight: bold;
						color: gold;
					}
				}
				form{
					padding:3% 0% 5% 0%;
					font-size: 18px;
					line-height: 60px;
					color: white;
					p{	
					line-height: 0;
					margin-top: 5%;					
					}
					.p{
						text-align: center;
						color: red;
						font-size: 14px;
						margin: 0;
						margin-bottom: 5%;
						font-family: monospace;
					}
					input{
						padding:7px;
						border-radius: 5px;
					}
					.button{
						text-align: center;
						font-size: 15px;
						font-weight: bold;
						color: black;
						background-color:orange;
						padding:2% 30%;
						text-decoration: none;
						border-radius:5px;
					}
				}
				.afacebook{
					display:none;
    				width: 200px;
    				margin-top:-35px;
    				height: 35px;
    				border-radius: 5px;
    				padding: 0;
					.sf{
						width: 50px;
    					display: inline-block;
    					padding: 0;
    					margin: 0;
    					margin-top: 3px;
						img{
							margin-top:5px;
							z-index:1;
							height: 50px;
							padding:0px;
						}
					}
					.sfl{
						width: 70px;
    					display: inline-block;
    					padding: 0;
    					margin: 0;
    					margin-top: 3px;
    					img{
							margin-top:5px;
							z-index:1;
							height: 50px;
							padding:0px;
						}
					}
					.sf:hover{
						border: 2px solid orange;
					}
					.sfl:hover{
						border: 2px solid orange;
					}
				}
			}
			.alentele{
				display: inline-block;
				vertical-align: bottom;
				width: 40%;
				background:$rgb;
				border:$border;
				border-radius:20px;
				text-align: center;
				padding:0;
				h1{
					font-size: 30px;
					color: white;
					background-color:#660033;
					border-top-left-radius: 16px;
					border-top-right-radius: 18px;
					margin-right: 0.8px;
					padding:16px 0px;
					font-weight:bold;
					span{
						font-weight: bold;
						color: gold;
					}
				}
				form{
					padding:3% 0% 5% 0%;
					font-size: 18px;
					line-height: 60px;
					color: white;
					p{	
					line-height: 0;
					margin-top: 5%;					
					}
					.p{
						text-align: center;
						color: red;
						font-size: 14px;
						margin: 0;
						margin-bottom: 5%;
						font-family: monospace; 
					}
					input{
						padding:7px;
						border-radius: 5px;
					}
					.abutton{
						text-align: center;
						font-size: 15px;
						font-weight: bold;
						color: black;
						background-color:orange;
						padding:2% 30%;
						text-decoration: none;
						border-radius:5px;
					}
				}
				.bfacebook{
					display:none;
    				width: 200px;
    				margin-top:-35px;
    				height: 35px;
    				border-radius: 5px;
    				padding: 0;
					.sf{
						width: 50px;
    					display: inline-block;
    					padding: 0;
    					margin: 0;
    					margin-top: 3px;

						img{
							margin-top:5px;
							z-index:1;
							height: 50px;
							padding:0px;
						}
					}
					.sfl{
						width: 70px;
    					display: inline-block;
    					padding: 0;
    					margin: 0;
    					margin-top: 3px;
    					img{
							margin-top:5px;
							z-index:1;
							height: 50px;
							padding:0px;
						}
					}
					.sf:hover{
						border: 2px solid orange;
					}
					.sfl:hover{
						border: 2px solid orange;
					}
				}
			}
		}
	}
}
#SELGOLD{
	background-image: url("../img/7.jpg");
	background-size: cover;
	height:100%;
	background-repeat:no-repeat;
	.wrapper{
		max-width: 1200px;
		margin:auto;
		padding-bottom:7%;
		h1{
			color: white;
			font-size: 45px;
			text-align: center;
			padding-top:17%;
			font-weight:bold;
		}
		div{
			width: 100%;
			padding-top: 10%;
			margin: 0 auto;
			padding-bottom: 3%;
			.palentele{
				display: inline-block;
				vertical-align: bottom;
				width: 40%;
				background:$rgb;
				border:$border;
				border-radius:20px;
				margin-left: 8%;
				margin-right: 2%;
				text-align: center;
				padding:0;
				h1{
					font-size: 30px;
					color: white;
					background-color:#154360  ;
					border-top-left-radius: 16px;
					border-top-right-radius: 18px;
					margin-left: 0.8px;
					padding:30px 0px;
					span{
						font-weight: bold;
						color: gold;
					}
				}
				form{
					padding:3% 0% 5% 0%;
					font-size: 18px;
					line-height: 60px;
					color: white;
					p{	
					line-height: 0;
					margin-top: 5%;					
					}
					.p{
						text-align: center;
						color: red;
						font-size: 14px;
						margin: 0;
						margin-bottom: 5%;
						font-family: monospace;
					}
					input{
						padding:7px;
						border-radius: 5px;
					}
					.bbutton{
						text-align: center;
						font-size: 15px;
						font-weight: bold;
						color: black;
						background-color:orange;
						padding:2% 30%;
						text-decoration: none;
						border-radius:5px;
					}
				}
				.cfacebook{
					display:none;
    				width: 200px;
    				margin-top:-35px;
    				height: 35px;
    				border-radius: 5px;
    				padding: 0;
					.sf{
						width: 50px;
    					display: inline-block;
    					padding: 0;
    					margin: 0;
    					margin-top: 3px;

						img{
							margin-top:5px;
							z-index:1;
							height: 50px;
							padding:0px;
						}
					}
					.sfl{
						width: 70px;
    					display: inline-block;
    					padding: 0;
    					margin: 0;
    					margin-top: 3px;
    					img{
							margin-top:5px;
							z-index:1;
							height: 50px;
							padding:0px;
						}
					}
					.sf:hover{
						border: 2px solid orange;
					}
					.sfl:hover{
						border: 2px solid orange;
					}
				}
			}
			.aalentele{
				display: inline-block;
				vertical-align: bottom;
				width: 40%;
				background:$rgb;
				border:$border;
				border-radius:20px;
				text-align: center;
				padding:0;
				h1{
					font-size: 30px;
					color: white;
					background-color:#154360  ;
					border-top-left-radius: 16px;
					border-top-right-radius: 18px;
					margin-right: 0.8px;
					padding:30px 0px;
					span{
						font-weight: bold;
						color: gold;
					}
				}
				form{
					padding:3% 0% 5% 0%;
					font-size: 18px;
					line-height: 60px;
					color: white;
					p{	
					line-height: 0;
					margin-top: 5%;					
					}
					.p{
						text-align: center;
						color: red;
						font-size: 14px;
						margin: 0;
						margin-bottom: 5%;
						font-family: monospace;
					}
					input{
						padding:7px;
						border-radius: 5px;
					}
					.cbutton{
						text-align: center;
						font-size: 15px;
						font-weight: bold;
						color: black;
						background-color:orange;
						padding:2% 30%;
						text-decoration: none;
						border-radius:5px;
					}
				}
				.dfacebook{
					display:none;
					width: 200px;
					margin-top:-35px;
					height: 35px;
					border-radius: 5px;
					padding: 0;
					.sf{
						width: 50px;
    					display: inline-block;
    					padding: 0;
    					margin: 0;
    					margin-top: 3px;

						img{
							margin-top:5px;
							z-index:1;
							height: 50px;
							padding:0px;
						}
					}
					.sfl{
						width: 70px;
    					display: inline-block;
    					padding: 0;
    					margin: 0;
    					margin-top: 3px;
    					img{
							margin-top:5px;
							z-index:1;
							height: 50px;
							padding:0px;
						}
					}
					.sf:hover{
						border: 2px solid orange;
					}
					.sfl:hover{
						border: 2px solid orange;
					}
				}
			}
		}
	}
}
#FAQ{
	background-image: url("../img/1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	.wrapper{
		max-width: 1200px;
		margin:auto;
		padding-bottom: 7%;
		div{
			padding-top:4%;
			padding-bottom: 3%;
			h1{
				color: white;
				font-size: 45px;
				text-align: center;
				padding-top:8%;
				font-weight:bold;
				padding-bottom: 3%;
			}
			.antraste{
				border: 2px solid gold;
				padding-top:2%;
				background-color:$rgb;
				padding-bottom: 3%;
				p{
					font-size: 16px;
				    color:white;
				    margin: 1% 2%;

				    strong{
				    	color: gold;
				    	

				    }
				}
				p:last-child{
				}
			}			
		}
	}
}
#ABOUTME{
	background-image: url("../img/2.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	.wrapper{
		
		h1{
			color: black;
			font-size: 45px;
			margin-left: 20%;
			padding-top:5%;
			font-weight:bold;
			padding-bottom: 3%;
		}
		p{
			font-size: 22px;
			color: black;
			text-indent:30px;
			font-weight: bold;
			width: 40%;
			margin-left:6%;
		}
		p:last-child{
			padding-bottom: 20%;
		}
	}
}
#COMMENTS{
	background-image: url("../img/5.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	padding-bottom:7%;
	h1{
			color: white;
			font-size: 45px;
			text-align: center;
			padding-top:8%;
			font-weight:bold;
			padding-bottom: 3%;
		}
		.wrapper{
		max-width: 1200px;
		margin:auto;
		border: 2px solid gold;
		background-color:rgba(0,0,0,0.3);
		padding-bottom: 2%;
		
		form{
			margin-top: 2%;
			table{
				margin: 0 auto;
				tr{
					td{
						font-weight: bold;
						font-size: 20px;
						color: white;
						.aname{
							padding: 5px 60px 5px 5px;
							font-size: 16px;
							border:1.5px solid gold;
							background-image: url("../img/8.jpg");
						}
					}
				}
				textarea{
					width: 150%;
					box-sizing: border-box;
					text-indent:10px;
					font-size: 16px;
					resize: none;
					border:1.5px solid gold;
					background-image: url("../img/8.jpg");				
				}
				.g-recaptcha{
					
				}
					
				tr{
					.asubmit{
						background-image:url("../img/9.jpg");
						font-size: 15px;
						font-weight: bold;
						color: black;
						padding:2% 20%;
						text-decoration: none;
						border:none;
						border-radius:5px;
					    display: block;
					    margin-top: 2%;
					}
				}
				
			}
		}
		.comment-box{
			margin:0% 1%;
			padding: 10px;
			border-radius: 10px;
			margin-top: 1%;
			border: 1.5px solid gold;
			background-repeat: no-repeat;
    		background-size: cover;
   			overflow: hidden;
			background-image: url("../img/8.jpg");
			p{
				color:#282828;
				font-size: 14px;
				font-family: arial;
				line-height: 16px;
			}
		}
		.more{
			font-size: 18px;
		    font-weight: bold;
		    color: black;
		    background-image:url("../img/9.jpg");
		    padding: 15px;
		    text-decoration: none;
		    border-radius: 5px;
		    margin: auto;
		    display: block;
		    margin-top: 2%;
		    margin-bottom: 2%; 
		    width: 30%;
		    text-align: center;
		}
	}
}
#CONTACT{
	background-image: url("../img/006.jpg");
	height:100%;
	background-size: cover;
	background-repeat:no-repeat;
	.wrapper{
		max-width: 1200px;
		margin:auto;
		h1{
			text-align: center;
		    padding-top: 7%;
		    padding-bottom: 30px;
		    font-size: 45px;
		    font-weight: bold;
		    color: black;
		}
		div{
			p{
				font-size: 20px;
				padding-top: 2%;
				color:black;
				font-weight: bold;
				text-align: center;
				padding-bottom:0;
			}
			div{
				margin: auto;
				margin-top: 3%;
				padding-bottom:0;
				width: 550px;
				div{
					display: inline-block;
					width: 20%;
					a{
						.visi{
							height: 80px;
							
						}
					}
					p{
						font-size: 12px;
						margin-top: 20px;
					}
				}
				div{
					display: inline-block;
					margin-left: 2%;
					width: 20%;
					a{
						.visi{
							height: 80px;
							display: block;
   							margin: auto; 
						}
					}
					p{}
				}
				div{
					display: inline-block;
					a{
						.visii{
							height: 80px;
							display: block;
    						margin: auto;
						}
					}
					p{
					margin-top: 20px;
					}	
				}
				div{
					vertical-align:top;
					display: inline-block;
					width: 20%;
					a{
						.visi{
							height: 80px;
							display: block;
    						margin: auto;
						}
					}
				}
			}
		}
		p{
			color: black;
			font-weight: bold;
			font-size: 30px;
			text-align: center;
			padding-bottom:3%;
			text-decoration:none;
		}
		div{
			padding-bottom:3%;
			margin: 0 auto;
			img[src="img/paypal_logo1.jpg"]{
				margin-left: 8%;
				width: 40%;
				margin-right: 3%;
				margin-bottom: 2%;
				display: inline-block;

			}
			img[src="img/payments_320.jpg"]{
				margin-left: 2%;
   				margin-right: 3%;
    			margin-bottom: 2%;
   				width: 34%;
			}
		}
	}
}
footer{
	background-color:black;
	width:100%;
	height:50px;
	bottom:0px;
	border-top:2px solid gold;
}


	

@media only screen and(max-width: 2000px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
			}
		}
		ul{
			// margin-right: 5%;
			li{	
				a{
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}	
	#BUYGOLD{
		height: 100vh;
	}
	#SELGOLD{
		height: 100vh;
	}
	#CONTACT{
		.wrapper{
			h1{
		    padding-top: 10%;
		    padding-bottom: 4%;
		    font-size: 45px;
			}
		}
	}
}	
@media only screen and(max-width: 1817px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
			}
		}
		ul{
			li{	
				a{
					// padding: 20px 60px;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}	
	#BUYGOLD{
		height: 100%;
	}
	#SELGOLD{
		height: 100%;
	}
}
@media only screen and(max-width: 1674px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
			}
		}
		ul{
			li{	
				a{
					// padding: 20px 50px;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
}
@media only screen and(max-width: 1590px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
			}
		}
		ul{
			li{	
				a{
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}	
	#BUYGOLD{
		height: 100%;
		.wrapper{
			h1{
			padding-top:9%;
			}
			div{
				padding-top:5%;
			
				.plentele{
					h1{
						span{
						}
					}
					form{
						p{			
						}
						input{
						}
						.button{
						}
					}
				}
				.alentele{
					h1{
						span{
						}
					}
					form{
						p{			
						}
						input{
						}
						.button{
						}
					}
				}
			}
		}
	}
	#SELGOLD{
		height: 100%;
		.wrapper{
			
			h1{
				padding-top:9%;
			}
			div{
				padding-top: 5%;
				
				.plentele{
					h1{
						span{
						}
					}
					form{
						p{				
						}
						input{
						}
						.button{
						}
					}
				}
				.alentele{
					h1{
						span{
						}
					}
					form{
						p{			
						}
						input{
						}
						.button{
						}
					}
				}
			}
		}
	}
	#FAQ{
		.wrapper{
			div{
				padding-top: 9%;
				h1{
					padding-top:1.5%;
				}
				p{
				    strong{
				    }
				}
				p:last-child{
				}
			}
		}
	}
}
@media only screen and(max-width: 1490px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
				// margin-right: 0%;
			}
		}
		ul{
			// margin-right: 5%;
			li{	
				a{
					// padding: 20px 40px;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
}		
@media only screen and(max-width: 1425px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
			}
		}
		ul{
			li{	
				a{
					// padding: 20px 45px;
					// font-size: 1.5em;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#BUYGOLD{
		.wrapper{
			h1{
			}
			div{
				padding-top:4%;
				.plentele{
					h1{
						span{
						}
					}
					form{
						p{			
						}
						input{
						}
						.button{
						}
					}
				}
				.alentele{
					h1{
						span{
						}
					}
					form{
						p{			
						}
						input{
						}
						.button{
						}
					}
				}
			}
		}
	}
	#CONTACT{
		.wrapper{
			h1{
		    padding-top: 10%;
		    padding-bottom: 4%;
		    font-size: 45px;
			}
		}
	}
}
@media only screen and(max-width: 1380px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{

			}
		}
		ul{
			li{	
				a{
					// padding:20px 35px;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}	
}
@media only screen and(max-width: 1280px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
				// width: 170px;
				// margin-top:6px;
			}
		}
		ul{
			li{	
				a{
					font-size: 1.1em;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#ABOUTME{
		.wrapper{
			h1{
			}
			p{
				width: 42%;
			}
		}
	}
}
@media only screen and(max-width: 1230px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
				width: 180px;
				margin-top: 5px;
			}
		}
		ul{
			// margin-right: 5%;
			li{	
				a{
					// padding:20px 26px;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#BUYGOLD{
		.wrapper{
			h1{
				font-size: 40px;
			}
		}
	}
	#SELGOLD{
		.wrapper{
			h1{
				font-size: 40px;
			}
		}
	}
	#ABOUTME{
		.wrapper{
			h1{
			}
			p{
				width: 43%;
			}
		}
	}
}
@media only screen and(max-width: 1180px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
				width: 160px;
				margin-top:7px; 
			}
		}
		ul{
			li{	
				a{
					font-size: 0.9em;
				}
			}
			.active{
				display:block;
			}
				li:hover{
			}
		}	
	}
}
@media only screen and(max-width: 1090px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
			}
		}
		ul{
			li{	
				a{
					// padding:20px 18px;
					// font-size: 18px;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#BUYGOLD{
		.wrapper{
			h1{
				font-size: 40px;
			}
		}
	}
}
@media only screen and(max-width: 1036px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
				width: 160px;
				margin-top:7px; 
			}
		}
		ul{
			li{	
				a{
					font-size: 0.8em;
				}
			}
			.active{
				display:block;
			}
				li:hover{
			}
		}	
	}
}
@media only screen and(max-width: 990px){
	header{
		.hamburger{		
		}
		.cross{	
		}
		img{		
		}
	}
	nav{
		a{
			img{
				width: 150px;
				margin-top:12px;
				margin-left: 0%;
			}
		}
		ul{margin-right:0px;
			li{	
				a{
					// padding:20px 15px;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#ABOUTME{
		.wrapper{
			h1{
			}
			p{
				width: 56%;
			}
		}
	}
}																													
@media only screen and(max-width: 900px){
	header{
		display: block;
			.hamburger{
				display: block;
			}
			.cross{
				display: block;
			}
			img{
				display: block;
			}
	}
	nav{
		display: block;
		border-bottom:none;
		display: none;
		margin-top: 62px;
		z-index: 0;
		a{
			img{
				display: none;
			}
		}

		ul{
			// display:inherit;
			width: 100%;
			margin-right: 0;
			background-color: black;
			

			li{	
				display: block;	
				text-align: center;
				border-bottom: 1px solid  #A66312;
				a{
					font-size: 20px;
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#BUYGOLD{
		.wrapper{
			h1{
				font-size: 40px;
				padding-top: 20%;
			}
			div{
				.plentele{
						
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{			
						}
						input{
						}
						.button{
						}
					}
				}
				.alentele{
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{			
						}
						input{
						}
						.button{
						}
					}
				}
			}
		}
	}
	#SELGOLD{
		.wrapper{
			h1{
				font-size: 40px;
				padding-top: 20%;
			}
			div{
				.palentele{
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{				
						}
						input{
						}
						.button{
						}
					}
				}
				.aalentele{
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{			
						}
						input{
						}
						.button{
						}
					}
				}
			}
		}
	}
	#FAQ{
		.wrapper{
			div{
				h1{
					font-size: 40px;
					padding-top: 20%;
				}
				p{
					strong{
					}
				}
				p:last-child{
				}
			}
		}
	}
	#ABOUTME{
		.wrapper{
			h1{
				font-size: 40px;
				margin-left: 26%;
				padding-top: 20%;
			}
			p{
			}
		}
	}
	#COMMENTS{
		.wrapper{
			h1{
				font-size: 40px;
				padding-top: 20%;
			}
			p{
				strong{
				}
			}
			p:last-child{
			}
		}
	}
	#CONTACT{
		.wrapper{
			h1{
				font-size: 40px;
				padding-top: 20%;
			}
			div{
				p{
				}
				div{
					a{
						img[src="img/skype.png"]{
						}
					}
					a{
						img[src="img/1-facebook.png"]{
						}
					}
				}
			}
			p{
			}
			div{
				img[src="img/paypal_logo1.jpg"]{
				}
				img[src="img/payments_320.jpg"]{
				}
			}
		}
	}
	footer{
	}
}
@media only screen and(max-width: 800px){
	header{
		.hamburger{
		}
		.cross{
		}
		img{
		}
	}
	nav{

		a{
			img{
				display: none;
			}
		}

		ul{
			li{	
				a{
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#BUYGOLD{
		.wrapper{
			h1{
				font-size: 40px;
			}
			div{
				.plentele{
						
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{			
						}
						.p{
							margin-bottom: 5%;
						}
						#milai{
							// margin-bottom:30px;
						}
						input{
						}
						label{
							line-height:0;
							display: block;
						}
						.button{
						}
					}
				}
				.alentele{
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{			
						}
						.p{
							margin-bottom: 5%;
						}
						#milaia{
							// margin-bottom:30px;
						}
						input{
						}
						label{
							line-height:0;
							display: block;
						}
						.button{
						}
					}
				}
			}
		}
	}
	#SELGOLD{
		.wrapper{
			h1{
			}
			div{
				.palentele{
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{				
						}
						.p{
							margin-bottom: 5%;
						}
						input{
						}
						.button{
						}
					}
				}
				.aalentele{
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{			
						}
						.p{
							margin-bottom: 5%;
						}
						input{
						}
						.button{
						}
					}
				}
			}
		}
	}
	#ABOUTME{
		.wrapper{
			h1{
				margin-left: 26%;
			}
			p{
				width: 63%;
			}
		}
	}
}
@media only screen and(max-width: 750px){
	header{
		.hamburger{
		}
		.cross{
		}
		img{
		}
	}
	nav{

		a{
			img{
				display: none;
			}
		}

		ul{
			li{	
				a{
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#BUYGOLD{
		height: 100%;
		.wrapper{
			h1{
				font-size: 40px;
			}
			div{
				.plentele{
					display: block;
					width: 80%;
					margin:auto;
					margin-bottom: 4%;					
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{			
						}
						#milai{
						}
						input{
						}
						label{
							display: inline-block;
						}
						.button{
						}
					}
				}
				.alentele{
					width: 80%;
					margin-left: 10%;
					margin-bottom: 6%;

					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{			
						}
						#milaia{
						}
						input{
						}
						label{
							display: inline-block;
						}
						.button{
						}
					}
				}
			}
		}
	}
	#SELGOLD{
		height: 100%;
		.wrapper{
			h1{
			}
			div{
				.palentele{
					display: block;
					width: 80%;
					margin:auto;
					margin-bottom: 4%;
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{				
						}
						#milaib{
							// margin-bottom:30px;
						}
						input{
						}
						label{
							line-height:0;
							display: block;
						}
						.button{
						}
					}
				}
				.aalentele{
					width: 80%;
					margin-left: 10%;
					margin-bottom: 6%;
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{			
						}
						#milaic{
							// margin-bottom:30px;
						}
						input{
						}
						label{
							line-height:0;
							display: block;
						}
						.button{
						}
					}
				}
			}
		}
	}
	#ABOUTME{
		.wrapper{
			h1{
			}
			p{
				width: 65%;
				margin-left: 8%;
			}
		}
	}
}
@media only screen and(max-width: 680px){
	header{
		.hamburger{
		}
		.cross{
		}
		img{
		}
	}
	nav{

		a{
			img{
				display: none;
			}
		}

		ul{
			li{	
				a{
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#BUYGOLD{
		.wrapper{
			h1{
				font-size: 40px;
			}
		}
	}
	#ABOUTME{
		.wrapper{
			h1{
			}
			p{
				width: 72%;
				margin-left: 10%;
			}
		}
	}
}
@media only screen and(max-width: 680px){
	#ABOUTME{
		.wrapper{
			h1{
			}
			p{
				width: 67%;
				margin-left: 10%;
			}
		}
	}
}
@media only screen and(max-width: 590px){
	header{
		.hamburger{
		}
		.cross{
		}
		img{
		}
	}
	nav{

		a{
			img{
			}
		}

		ul{
			li{	
				a{
				}
			}
			.active{
			}
			li:hover{
			}
		}
	}
	#ABOUTME{
		.wrapper{
			h1{
				margin-left: 30%;
			}
			p{
				width: 74%;
				margin-left: 14%;
			}
		}
	}
	#COMMENTS{
		.wrapper{
			h1{
			}
			form{
				table{
					tr{
						td{
							.aname{
							}
						}
					}
					textarea{
						width: 100%;				
					}
					tr{
						.asubmit{
						}
					}
				}
			}
		}
	}
	#CONTACT{
		.wrapper{
			h1{
			}
			div{
				p{
				}
				div{
					margin: auto;
					margin-top: 3%;
					padding-bottom:0;
					width: 100%;
				}
			}
		}
	}
}
@media only screen and(max-width: 384px){
	header{
		.hamburger{
		}
		.cross{
		}
		img{
		}
	}
	nav{
		a{
			img{
				display: none;
			}
		}
		ul{
			li{		
				a{
				}
			}
			.active{
				display:block;
			}
			li:hover{
			}
		}
	}
	#BUYGOLD{
		height: 100%;
		.wrapper{
			h1{
				font-size: 40px;
			}
			div{
				.plentele{
					display: block;
					width: 80%;
					margin:auto;
					margin-bottom: 4%;					
					h1{
						span{
						}
					}
					form{
							font-size: 16px;
						p{
							font-size: 14px;		
						}
						.p{
							margin-bottom: 13%;
						}
						#milai{
						}
						input{
						}
						label{
							line-height:0;
							display: block;
						}
						.button{
						}
					}
				}
				.alentele{
					width: 80%;
					margin-left: 10%;
					margin-bottom: 6%;
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{
						font-size: 14px;		
						}
						.p{
							margin-bottom: 13%;
						}
						#milaia{
						}
						input{
						}
						label{
							line-height:0;
							display: block;
						}
						.button{
						}
					}
				}
			}
		}
	}
	#SELGOLD{
		height: 100%;
		.wrapper{
			h1{
			}
			div{
				.palentele{
					display: block;
					width: 80%;
					margin:auto;
					margin-bottom: 4%;
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{
						font-size: 14px;				
						}
						.p{
							margin-bottom: 13%;
						}
						#milaib{							
						}
						input{
						}
						label{
							line-height:0;
							display: block;
						}
						.button{
						}
					}
				}
				.aalentele{
					width: 80%;
					margin-left: 10%;
					margin-bottom: 6%;
					h1{
						span{
						}
					}
					form{
						font-size: 16px;
						p{
						font-size: 14px;			
						}
						.p{
							margin-bottom: 13%;
						}
						#milaic{
						}
						input{
						}
						label{
							line-height:0;
							display: block;
						}
						.button{
						}
					}
				}
			}
		}
	}
	#ABOUTME{
		.wrapper{
			h1{
			}
			p{
			}
		}
	}
	#CONTACT{
		.wrapper{
			h1{
			}
			div{
				p{
				}
				div{
					width: 100%;
					div{
						width:45%;
						a{
							.visi{
								height: 70px;
							}
						}
						p{
						}
					}
					div{
						a{
							.visi{
							}
						}
						p{

						}
					}
					div{
						width:45%;

						a{
							.visii{
								height: 70px;
							}
						}
						p{
							font-size: 11px;
						}	
					}
				}
			}
		}
	}	
}
@media only screen and(max-width: 340px){
	#CONTACT{
		.wrapper{
			h1{
				color: black;
			}
			div{
				p{
				}
				div{
					width: 250px;

					div{
						width:195px;
						display: block;
						a{
							.visi{
								height: 60px;
								display: inline-block;
								vertical-align: middle;
							
							}
						}
						p{
							margin: 0;
							vertical-align: middle;
							display: inline-block;
							margin-left: 5%;
						}
					}
					div{
						display: block;
						a{
							.visi{
						
							}
						}
						p{
							margin: 0;
							vertical-align: middle;
							margin-left: 5%;
						}
					}
					div{
						width: 195px;
						display: block;
						margin: 0 auto;
   						margin-top: 5%;

						a{
							.visii{
								margin: 0;
								height: 60px;
								display: inline-block;
								vertical-align: middle;
								
							}
						}
						.ppp{
							margin: 0;
							vertical-align: middle;
							font-size: 11px;
							display: inline-block;
							margin-left: 5%;
						}	
					}
				}
			}
		}
	}	
}
b { font-weight: bold; }


